body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("./background.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,html {
  height: 100vh;
  width: 100vw;
  font-family: 'Cormorant Garamond', serif;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  margin: auto;
  width: 80%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.9) ;

  z-index: 1;
}

a {
  color: black;
  text-decoration: none;
  width: 20%;
  min-width: 120px;

  margin: 10px 15px;
}

h4 {
  margin: 20px auto 10px auto;
}

h5 {
  margin: 5px auto;
}

footer {
  width: 100%;
  background-color: rgba(69, 107, 94, 0.9);
  z-index: 1;
  font-family: Barlow, serif;
}

footer h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

#links {
  display: inline-flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0;
}

.contact {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.contactIcon {
  height: 30px;
  width: 30px;
}

h3 {
  font-size: max(1vw, 14px);
  margin: 0 5px;
  text-align: center;
  align-items: center;
  padding: 5px 0;
}

a:hover {
  color: darkgoldenrod;
}

@media screen and (max-width: 500px) {

  h3 {
    font-size: 14px;
  }
  footer h2 {
    font-size: 20px;
  }
  footer h4,h5 {
    font-size: 11px;
  }
  .contactIcon {
    height: 20px;
    width: 20px;
  }
}

@supports(padding:max(0px)) {
  body, header, footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
